.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 30px;
    gap: 45px;
}

.order-info {
    background-color: #FFE0B3;

}