.product-container {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
}

.product-container img {
    height: 286px;
    width: 286px;
    margin: 7px;
    border-radius: 8px;
}

.product-details {
    margin-left: 14px;
}

.product-details h4 {
    margin-top: 12px;
    margin-bottom: 11px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}

.product-details h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin-top: 0px;
}

.product-details p {
    font-size: 12px;
    margin-top: 0px;

}

.product-add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    height: 48px;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0px;
}

.product-add-btn:hover {
    background: #ffd28d;
}

.product-add-btn p {
    font-size: 15px;
}

.cart-icon {
    font-size: 17px;
    margin-left: 10px;
}